--
-- PostgreSQL database dump
--

\restrict 2PYMO8nqzaqYnQ90hD2u8DnFIXJ7AET7L3dQHzE9DlhMcGUCLvnzUPFLJhiugu6

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE IF EXISTS scpd_cms;
--
-- Name: scpd_cms; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE scpd_cms WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE scpd_cms OWNER TO postgres;

\unrestrict 2PYMO8nqzaqYnQ90hD2u8DnFIXJ7AET7L3dQHzE9DlhMcGUCLvnzUPFLJhiugu6
\connect scpd_cms
\restrict 2PYMO8nqzaqYnQ90hD2u8DnFIXJ7AET7L3dQHzE9DlhMcGUCLvnzUPFLJhiugu6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: CaseStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CaseStatus" AS ENUM (
    'DRAFT',
    'DIARY_ENTERED',
    'REGISTERED',
    'UNDER_REVIEW',
    'ROUTED_TO_LEGAL',
    'ROUTED_TO_OE',
    'NOT_RELATED',
    'ORDER_SHEET_DRAFTED',
    'REGISTRAR_REVIEW',
    'COMMISSIONER_APPROVAL',
    'APPROVED',
    'DISPATCH_PENDING',
    'DISPATCHED',
    'CLOSED',
    'LEGAL_FORWARDING',
    'REVIEW_DONE',
    'CASE_ACCEPTED',
    'PENDING_QUERY'
);


ALTER TYPE public."CaseStatus" OWNER TO postgres;

--
-- Name: DispatchChannel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DispatchChannel" AS ENUM (
    'BY_HAND',
    'POST',
    'COURIER',
    'EMAIL'
);


ALTER TYPE public."DispatchChannel" OWNER TO postgres;

--
-- Name: DispatchType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DispatchType" AS ENUM (
    'INWARD',
    'OUTWARD'
);


ALTER TYPE public."DispatchType" OWNER TO postgres;

--
-- Name: DocumentKind; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DocumentKind" AS ENUM (
    'COMPLAINT',
    'ORDER_SHEET',
    'FORWARDING_LETTER',
    'ATTACHMENT',
    'OTHER'
);


ALTER TYPE public."DocumentKind" OWNER TO postgres;

--
-- Name: Gender; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Gender" AS ENUM (
    'MALE',
    'FEMALE',
    'OTHER'
);


ALTER TYPE public."Gender" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'PRIVATE_SECRETARY',
    'COMMISSIONER',
    'LEGAL_ASSISTANT',
    'REGISTRAR',
    'PROGRAMMER',
    'STATIONERY',
    'ADMIN',
    'CITIZEN'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: SectionAssigned; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SectionAssigned" AS ENUM (
    'COMMISSIONER',
    'LEGAL',
    'OE',
    'REGISTRAR',
    'STATIONERY'
);


ALTER TYPE public."SectionAssigned" OWNER TO postgres;

--
-- Name: case_priority; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.case_priority AS ENUM (
    'LOW',
    'NORMAL',
    'HIGH',
    'URGENT'
);


ALTER TYPE public.case_priority OWNER TO postgres;

--
-- Name: complaint_channel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.complaint_channel AS ENUM (
    'EMAIL',
    'PHONE',
    'IN_PERSON',
    'LETTER',
    'ONLINE_PORTAL'
);


ALTER TYPE public.complaint_channel OWNER TO postgres;

--
-- Name: created_by_source; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.created_by_source AS ENUM (
    'SELF',
    'DISTRICT_DEPARTMENT_OFFICER',
    'OTHER'
);


ALTER TYPE public.created_by_source OWNER TO postgres;

--
-- Name: forwarding_letter_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.forwarding_letter_status AS ENUM (
    'DRAFT',
    'PENDING_SIGNATURE',
    'SIGNED',
    'CANCELLED'
);


ALTER TYPE public.forwarding_letter_status OWNER TO postgres;

--
-- Name: order_sheet_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.order_sheet_status AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'REVISIONS_REQUESTED_BY_REGISTRAR',
    'FORWARDED_BY_REGISTRAR',
    'REVISIONS_REQUESTED_BY_COMMISSIONER',
    'APPROVED_BY_COMMISSIONER',
    'CANCELLED'
);


ALTER TYPE public.order_sheet_status OWNER TO postgres;

--
-- Name: party_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.party_type AS ENUM (
    'INDIVIDUAL',
    'ORGANIZATION'
);


ALTER TYPE public.party_type OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id uuid NOT NULL,
    user_id uuid,
    module text NOT NULL,
    action text NOT NULL,
    entity_type text NOT NULL,
    entity_id text,
    status_code integer NOT NULL,
    ip text,
    ip_address inet,
    user_agent text,
    payload_snapshot jsonb
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: auth_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_sessions (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    refresh_token_jti text NOT NULL,
    refresh_hash text NOT NULL,
    revoked_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.auth_sessions OWNER TO postgres;

--
-- Name: case_dispatch; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.case_dispatch (
    dispatched_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id uuid NOT NULL,
    case_year integer NOT NULL,
    case_id uuid NOT NULL,
    type public."DispatchType" NOT NULL,
    channel public."DispatchChannel" NOT NULL,
    address_to text,
    tracking_no text,
    received_at timestamp(3) without time zone,
    status text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.case_dispatch OWNER TO postgres;

--
-- Name: case_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.case_status_history (
    changed_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id uuid NOT NULL,
    case_year integer NOT NULL,
    case_id uuid NOT NULL,
    old_status public."CaseStatus" NOT NULL,
    new_status public."CaseStatus" NOT NULL,
    remarks text,
    changed_by_id uuid
);


ALTER TABLE public.case_status_history OWNER TO postgres;

--
-- Name: cases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cases (
    case_year integer NOT NULL,
    id uuid NOT NULL,
    registration_no text NOT NULL,
    case_no text,
    sl_no integer,
    status public."CaseStatus" NOT NULL,
    section_assigned public."SectionAssigned" NOT NULL,
    assigned_to_id uuid,
    complainant_name text NOT NULL,
    subject text NOT NULL,
    received_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.cases OWNER TO postgres;

--
-- Name: complaint_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaint_documents (
    id uuid NOT NULL,
    complaint_id uuid NOT NULL,
    file_name text NOT NULL,
    mime_type text NOT NULL,
    storage_key text NOT NULL,
    size_bytes integer NOT NULL,
    uploaded_by_id uuid,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.complaint_documents OWNER TO postgres;

--
-- Name: complaints; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaints (
    id uuid NOT NULL,
    reference_no text NOT NULL,
    name text NOT NULL,
    complainant_type public.party_type NOT NULL,
    contact text,
    complainant_address_line1 text NOT NULL,
    complainant_address_line2 text,
    complainant_city text NOT NULL,
    complainant_state text NOT NULL,
    complainant_postal_code text NOT NULL,
    accused_name text NOT NULL,
    accused_type public.party_type NOT NULL,
    accused_address_line1 text NOT NULL,
    accused_address_line2 text,
    accused_city text NOT NULL,
    accused_state text NOT NULL,
    accused_postal_code text NOT NULL,
    subject text NOT NULL,
    description text NOT NULL,
    channel public.complaint_channel NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_ip inet,
    linked_case_year integer,
    linked_case_id uuid,
    created_by_other_name text,
    created_by_source public.created_by_source NOT NULL,
    district text NOT NULL,
    accused_district text NOT NULL,
    disability_type_id uuid,
    created_by_id uuid
);


ALTER TABLE public.complaints OWNER TO postgres;

--
-- Name: disability_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.disability_types (
    id uuid NOT NULL,
    name text NOT NULL,
    code text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.disability_types OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    case_id uuid NOT NULL,
    id uuid NOT NULL,
    case_year integer NOT NULL,
    kind public."DocumentKind" NOT NULL,
    file_name text NOT NULL,
    mime_type text NOT NULL,
    storage_key text NOT NULL,
    size_bytes integer NOT NULL,
    uploaded_by_id uuid,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: forwarding_letters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.forwarding_letters (
    id uuid NOT NULL,
    case_year integer NOT NULL,
    case_id uuid NOT NULL,
    subject text NOT NULL,
    body text NOT NULL,
    status public.forwarding_letter_status DEFAULT 'DRAFT'::public.forwarding_letter_status NOT NULL,
    prepared_by_id uuid NOT NULL,
    signed_by_id uuid,
    signed_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.forwarding_letters OWNER TO postgres;

--
-- Name: issue_register; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issue_register (
    id uuid NOT NULL,
    case_year integer NOT NULL,
    case_id uuid NOT NULL,
    kind text NOT NULL,
    recipient text,
    channel text,
    subject text,
    body text,
    reference_id uuid,
    created_by_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.issue_register OWNER TO postgres;

--
-- Name: mv_case_summary; Type: MATERIALIZED VIEW; Schema: public; Owner: postgres
--

CREATE MATERIALIZED VIEW public.mv_case_summary AS
 SELECT case_year,
    section_assigned,
    status,
    count(*) AS count
   FROM public.cases
  GROUP BY case_year, section_assigned, status
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.mv_case_summary OWNER TO postgres;

--
-- Name: mv_dashboard_cards; Type: MATERIALIZED VIEW; Schema: public; Owner: postgres
--

CREATE MATERIALIZED VIEW public.mv_dashboard_cards AS
 SELECT 'open_cases'::text AS card_key,
    count(*) AS value
   FROM public.cases
  WHERE (cases.status <> 'CLOSED'::public."CaseStatus")
UNION ALL
 SELECT 'legal_sla_breaches'::text AS card_key,
    count(*) AS value
   FROM ( SELECT 1 AS "?column?"
           FROM public.cases c
          WHERE ((c.section_assigned = 'LEGAL'::public."SectionAssigned") AND (c.status <> 'CLOSED'::public."CaseStatus") AND ((now() - (c.created_at)::timestamp with time zone) > '30 days'::interval))) t
UNION ALL
 SELECT 'new_cases_30d'::text AS card_key,
    count(*) AS value
   FROM public.cases
  WHERE (cases.created_at >= (now() - '30 days'::interval))
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.mv_dashboard_cards OWNER TO postgres;

--
-- Name: order_sheet_review_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_sheet_review_history (
    id uuid NOT NULL,
    order_sheet_id uuid NOT NULL,
    action text NOT NULL,
    remarks text,
    actor_id uuid NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.order_sheet_review_history OWNER TO postgres;

--
-- Name: order_sheets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_sheets (
    id uuid NOT NULL,
    case_year integer NOT NULL,
    case_id uuid NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    status public.order_sheet_status DEFAULT 'DRAFT'::public.order_sheet_status NOT NULL,
    prepared_by_id uuid NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.order_sheets OWNER TO postgres;

--
-- Name: public_registrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.public_registrations (
    id uuid NOT NULL,
    registration_no text NOT NULL,
    full_name text NOT NULL,
    email text NOT NULL,
    mobile text NOT NULL,
    alternate_mobile text,
    date_of_birth timestamp(3) without time zone,
    guardian_name text,
    gender public."Gender",
    address_line1 text NOT NULL,
    address_line2 text,
    state text NOT NULL,
    district text NOT NULL,
    pin_code text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_ip inet,
    user_id uuid
);


ALTER TABLE public.public_registrations OWNER TO postgres;

--
-- Name: query_letters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.query_letters (
    id uuid NOT NULL,
    case_year integer NOT NULL,
    case_id uuid NOT NULL,
    recipient_type text NOT NULL,
    channel public."DispatchChannel" NOT NULL,
    subject text NOT NULL,
    body text DEFAULT ''::text NOT NULL,
    created_by_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.query_letters OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    password_hash text NOT NULL,
    role public."Role" NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: workflow_transitions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_transitions (
    id uuid NOT NULL,
    from_status public."CaseStatus",
    to_status public."CaseStatus" NOT NULL,
    allowed_roles public."Role"[],
    auto_transition boolean DEFAULT false NOT NULL,
    description text
);


ALTER TABLE public.workflow_transitions OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: case_dispatch; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.case_dispatch (dispatched_at, id, case_year, case_id, type, channel, address_to, tracking_no, received_at, status, created_at) FROM stdin;
2026-01-21 14:08:14.529	09045e33-8a2f-4a80-9d49-5a1ff76fbca7	2026	bfe6ab3f-81f5-49e6-8ebd-a97be776d5e6	OUTWARD	POST	Omfed Sqaure	ASIENXUEP1394-0934	2026-01-21 14:08:23.709	RECEIVED	2026-01-21 14:08:14.529
\.


--
-- Data for Name: case_status_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cases; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: complaint_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: complaints; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: disability_types; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: forwarding_letters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: issue_register; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_sheet_review_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_sheets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: public_registrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.public_registrations (id, registration_no, full_name, email, mobile, alternate_mobile, date_of_birth, guardian_name, gender, address_line1, address_line2, state, district, pin_code, created_at, created_ip, user_id) FROM stdin;
\.


--
-- Data for Name: query_letters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workflow_transitions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (created_at, id);


--
-- Name: auth_sessions auth_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_pkey PRIMARY KEY (id);


--
-- Name: case_dispatch case_dispatch_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_dispatch
    ADD CONSTRAINT case_dispatch_pkey PRIMARY KEY (dispatched_at, id);


--
-- Name: case_status_history case_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_status_history
    ADD CONSTRAINT case_status_history_pkey PRIMARY KEY (changed_at, id);


--
-- Name: cases cases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_pkey PRIMARY KEY (case_year, id);


--
-- Name: complaint_documents complaint_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_documents
    ADD CONSTRAINT complaint_documents_pkey PRIMARY KEY (id);


--
-- Name: complaints complaints_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_pkey PRIMARY KEY (id);


--
-- Name: disability_types disability_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disability_types
    ADD CONSTRAINT disability_types_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (case_id, id);


--
-- Name: forwarding_letters forwarding_letters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forwarding_letters
    ADD CONSTRAINT forwarding_letters_pkey PRIMARY KEY (id);


--
-- Name: issue_register issue_register_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_register
    ADD CONSTRAINT issue_register_pkey PRIMARY KEY (id);


--
-- Name: order_sheet_review_history order_sheet_review_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_sheet_review_history
    ADD CONSTRAINT order_sheet_review_history_pkey PRIMARY KEY (id);


--
-- Name: order_sheets order_sheets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_sheets
    ADD CONSTRAINT order_sheets_pkey PRIMARY KEY (id);


--
-- Name: public_registrations public_registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.public_registrations
    ADD CONSTRAINT public_registrations_pkey PRIMARY KEY (id);


--
-- Name: query_letters query_letters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.query_letters
    ADD CONSTRAINT query_letters_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workflow_transitions workflow_transitions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_transitions
    ADD CONSTRAINT workflow_transitions_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_logs_created_at_idx ON public.audit_logs USING btree (created_at);


--
-- Name: audit_logs_entity_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_logs_entity_id_idx ON public.audit_logs USING btree (entity_id);


--
-- Name: audit_logs_module_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_logs_module_idx ON public.audit_logs USING btree (module);


--
-- Name: audit_logs_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_logs_user_id_idx ON public.audit_logs USING btree (user_id);


--
-- Name: auth_sessions_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_sessions_user_id_idx ON public.auth_sessions USING btree (user_id);


--
-- Name: case_dispatch_case_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX case_dispatch_case_id_idx ON public.case_dispatch USING btree (case_id);


--
-- Name: case_dispatch_channel_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX case_dispatch_channel_idx ON public.case_dispatch USING btree (channel);


--
-- Name: case_dispatch_dispatched_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX case_dispatch_dispatched_at_idx ON public.case_dispatch USING btree (dispatched_at);


--
-- Name: case_dispatch_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX case_dispatch_type_idx ON public.case_dispatch USING btree (type);


--
-- Name: case_status_history_case_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX case_status_history_case_id_idx ON public.case_status_history USING btree (case_id);


--
-- Name: case_status_history_changed_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX case_status_history_changed_at_idx ON public.case_status_history USING btree (changed_at);


--
-- Name: case_status_history_new_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX case_status_history_new_status_idx ON public.case_status_history USING btree (new_status);


--
-- Name: cases_assigned_to_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cases_assigned_to_id_idx ON public.cases USING btree (assigned_to_id);


--
-- Name: cases_case_no_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cases_case_no_idx ON public.cases USING btree (case_no);


--
-- Name: cases_case_year_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cases_case_year_idx ON public.cases USING btree (case_year);


--
-- Name: cases_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cases_created_at_idx ON public.cases USING btree (created_at);


--
-- Name: cases_registration_no_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cases_registration_no_idx ON public.cases USING btree (registration_no);


--
-- Name: cases_section_assigned_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cases_section_assigned_idx ON public.cases USING btree (section_assigned);


--
-- Name: cases_sl_no_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cases_sl_no_idx ON public.cases USING btree (sl_no);


--
-- Name: cases_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cases_status_idx ON public.cases USING btree (status);


--
-- Name: complaint_documents_complaint_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX complaint_documents_complaint_id_idx ON public.complaint_documents USING btree (complaint_id);


--
-- Name: complaints_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX complaints_created_at_idx ON public.complaints USING btree (created_at);


--
-- Name: complaints_created_by_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX complaints_created_by_id_idx ON public.complaints USING btree (created_by_id);


--
-- Name: complaints_disability_type_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX complaints_disability_type_id_idx ON public.complaints USING btree (disability_type_id);


--
-- Name: complaints_linked_case_year_linked_case_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX complaints_linked_case_year_linked_case_id_idx ON public.complaints USING btree (linked_case_year, linked_case_id);


--
-- Name: complaints_reference_no_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX complaints_reference_no_key ON public.complaints USING btree (reference_no);


--
-- Name: disability_types_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX disability_types_name_key ON public.disability_types USING btree (name);


--
-- Name: documents_case_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX documents_case_id_idx ON public.documents USING btree (case_id);


--
-- Name: documents_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX documents_created_at_idx ON public.documents USING btree (created_at);


--
-- Name: forwarding_letters_case_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX forwarding_letters_case_id_idx ON public.forwarding_letters USING btree (case_id);


--
-- Name: forwarding_letters_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX forwarding_letters_status_idx ON public.forwarding_letters USING btree (status);


--
-- Name: idx_complaints_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_complaints_created_at ON public.complaints USING btree (created_at);


--
-- Name: idx_complaints_linked_case; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_complaints_linked_case ON public.complaints USING btree (linked_case_year, linked_case_id);


--
-- Name: idx_dispatch_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dispatch_id ON public.case_dispatch USING btree (id);


--
-- Name: idx_issue_register_case; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_issue_register_case ON public.issue_register USING btree (case_year, case_id);


--
-- Name: idx_query_letters_case; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_query_letters_case ON public.query_letters USING btree (case_year, case_id);


--
-- Name: idx_workflow_transitions_from_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_transitions_from_to ON public.workflow_transitions USING btree (from_status, to_status);


--
-- Name: idx_workflow_transitions_roles_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_transitions_roles_gin ON public.workflow_transitions USING gin (allowed_roles);


--
-- Name: idx_workflow_transitions_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_transitions_to ON public.workflow_transitions USING btree (to_status);


--
-- Name: order_sheet_review_history_actor_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_sheet_review_history_actor_id_idx ON public.order_sheet_review_history USING btree (actor_id);


--
-- Name: order_sheet_review_history_order_sheet_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_sheet_review_history_order_sheet_id_idx ON public.order_sheet_review_history USING btree (order_sheet_id);


--
-- Name: order_sheets_case_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_sheets_case_id_idx ON public.order_sheets USING btree (case_id);


--
-- Name: order_sheets_prepared_by_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_sheets_prepared_by_id_idx ON public.order_sheets USING btree (prepared_by_id);


--
-- Name: order_sheets_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_sheets_status_idx ON public.order_sheets USING btree (status);


--
-- Name: public_registrations_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX public_registrations_created_at_idx ON public.public_registrations USING btree (created_at);


--
-- Name: public_registrations_registration_no_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX public_registrations_registration_no_key ON public.public_registrations USING btree (registration_no);


--
-- Name: public_registrations_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX public_registrations_user_id_key ON public.public_registrations USING btree (user_id);


--
-- Name: uq_workflow_from_to_not_null; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_workflow_from_to_not_null ON public.workflow_transitions USING btree (from_status, to_status) WHERE (from_status IS NOT NULL);


--
-- Name: uq_workflow_to_when_from_null; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_workflow_to_when_from_null ON public.workflow_transitions USING btree (to_status) WHERE (from_status IS NULL);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: ux_mv_case_summary; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_mv_case_summary ON public.mv_case_summary USING btree (case_year, section_assigned, status);


--
-- Name: ux_mv_dashboard_cards; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_mv_dashboard_cards ON public.mv_dashboard_cards USING btree (card_key);


--
-- Name: workflow_transitions_from_status_to_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX workflow_transitions_from_status_to_status_idx ON public.workflow_transitions USING btree (from_status, to_status);


--
-- Name: workflow_transitions_to_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX workflow_transitions_to_status_idx ON public.workflow_transitions USING btree (to_status);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: auth_sessions auth_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: case_dispatch case_dispatch_case_year_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_dispatch
    ADD CONSTRAINT case_dispatch_case_year_case_id_fkey FOREIGN KEY (case_year, case_id) REFERENCES public.cases(case_year, id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: case_status_history case_status_history_case_year_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_status_history
    ADD CONSTRAINT case_status_history_case_year_case_id_fkey FOREIGN KEY (case_year, case_id) REFERENCES public.cases(case_year, id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: case_status_history case_status_history_changed_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_status_history
    ADD CONSTRAINT case_status_history_changed_by_id_fkey FOREIGN KEY (changed_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cases cases_assigned_to_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_assigned_to_id_fkey FOREIGN KEY (assigned_to_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: complaint_documents complaint_documents_complaint_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_documents
    ADD CONSTRAINT complaint_documents_complaint_id_fkey FOREIGN KEY (complaint_id) REFERENCES public.complaints(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: complaint_documents complaint_documents_uploaded_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_documents
    ADD CONSTRAINT complaint_documents_uploaded_by_id_fkey FOREIGN KEY (uploaded_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: complaints complaints_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: complaints complaints_disability_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_disability_type_id_fkey FOREIGN KEY (disability_type_id) REFERENCES public.disability_types(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: complaints complaints_linked_case_year_linked_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_linked_case_year_linked_case_id_fkey FOREIGN KEY (linked_case_year, linked_case_id) REFERENCES public.cases(case_year, id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: documents documents_case_year_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_case_year_case_id_fkey FOREIGN KEY (case_year, case_id) REFERENCES public.cases(case_year, id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: documents documents_uploaded_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_uploaded_by_id_fkey FOREIGN KEY (uploaded_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: forwarding_letters forwarding_letters_case_year_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forwarding_letters
    ADD CONSTRAINT forwarding_letters_case_year_case_id_fkey FOREIGN KEY (case_year, case_id) REFERENCES public.cases(case_year, id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: forwarding_letters forwarding_letters_prepared_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forwarding_letters
    ADD CONSTRAINT forwarding_letters_prepared_by_id_fkey FOREIGN KEY (prepared_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: forwarding_letters forwarding_letters_signed_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forwarding_letters
    ADD CONSTRAINT forwarding_letters_signed_by_id_fkey FOREIGN KEY (signed_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: issue_register issue_register_case_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_register
    ADD CONSTRAINT issue_register_case_fk FOREIGN KEY (case_year, case_id) REFERENCES public.cases(case_year, id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: issue_register issue_register_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_register
    ADD CONSTRAINT issue_register_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: order_sheet_review_history order_sheet_review_history_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_sheet_review_history
    ADD CONSTRAINT order_sheet_review_history_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_sheet_review_history order_sheet_review_history_order_sheet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_sheet_review_history
    ADD CONSTRAINT order_sheet_review_history_order_sheet_id_fkey FOREIGN KEY (order_sheet_id) REFERENCES public.order_sheets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_sheets order_sheets_case_year_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_sheets
    ADD CONSTRAINT order_sheets_case_year_case_id_fkey FOREIGN KEY (case_year, case_id) REFERENCES public.cases(case_year, id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_sheets order_sheets_prepared_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_sheets
    ADD CONSTRAINT order_sheets_prepared_by_id_fkey FOREIGN KEY (prepared_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: public_registrations public_registrations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.public_registrations
    ADD CONSTRAINT public_registrations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: query_letters query_letters_case_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.query_letters
    ADD CONSTRAINT query_letters_case_fk FOREIGN KEY (case_year, case_id) REFERENCES public.cases(case_year, id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: query_letters query_letters_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.query_letters
    ADD CONSTRAINT query_letters_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- Name: mv_case_summary; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: postgres
--

REFRESH MATERIALIZED VIEW public.mv_case_summary;


--
-- Name: mv_dashboard_cards; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: postgres
--

REFRESH MATERIALIZED VIEW public.mv_dashboard_cards;


--
-- PostgreSQL database dump complete
--

\unrestrict 2PYMO8nqzaqYnQ90hD2u8DnFIXJ7AET7L3dQHzE9DlhMcGUCLvnzUPFLJhiugu6

